html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

body>div {
    float: left;
    margin: 10px;
}

#control>* {
    display: block;
    width: 100px;
    margin: 4px;
}

#root {
    position: relative;
}

.pole {
    background-image: url("../gfx/hex3.png");
    width: 115px;
    height: 100px;
    position: absolute;
    z-index: 2;
}

.pole p {
    position: relative;
    left: 48px;
    bottom: 64px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: red;
}

.arr {
    background-image: url("../gfx/arr.png");
    width: 115px;
    height: 100px;
    ] z-index: -1;
}

.choosen {
    background-color: red;
    border: 2px solid green;
}